<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="chatroom">
 	
 	<!-- 시퀸스 생성 -->
 	<select id="sequence" resultType="int">
 		select chatroom_seq.nextval from dual
 	</select>
 	
 	<!-- 생성된 채팅방이 있는지 조회 -->
 	<select id="check" parameterType="Map" resultType="ChatRoomDto">
 		select * from chatroom where auction_no = #{auctionNo} and member_no = #{memberNo}
 	</select>
 	
 	<!-- 채팅방 생성 -->
 	<insert id="insert" parameterType="ChatRoomDto">
 		insert into chatroom (chatroom_no, auction_no, member_no) values (#{chatRoomNo}, #{auctionNo}, #{memberNo})
 	</insert>
	
	<!-- 회원이 참여한 채팅방 정보 리스트 -->
 	<select id="list" parameterType="int" resultType="ChatRoomListVO">
		select A.chatroom_no, A.auction_no, B.auctioneer_no, B.auction_title, 
			C.member_nick auctioneer_nick, C.attachment_no auctioneer_attachment_no, E.member_nick, E.attachment_no, 
			min(D.photo_no) photo_attachment_no  
		from chatroom A
		join auction B on A.auction_no = B.auction_no
		join member C on B.auctioneer_no = C. member_no
		join photo D on A.auction_no = D.photo_auction_no
		join member E on A.member_no = E.member_no
		where A.member_no = #{memberNo} or B.auctioneer_no = #{memberNo}
		group by A.chatroom_no, A.auction_no, B.auctioneer_no, B.auction_title, 
			C.member_nick, C.attachment_no, E.member_nick, E.attachment_no
		order by A.chatroom_no desc
 	</select>	
 	 
 </mapper>