<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="chatContent">
 	
 	<!-- 시퀸스 생성 -->
	<select id="sequence" resultType="int">
		select chat_content_seq.nextval from dual
	</select>
 	
 	<!-- 채팅 메세지 저장 -->
 	<insert id="insert" parameterType="ChatContentDto">
 		insert into chat_content (
 			chat_no, chatroom_no, chatter_no, chat_content, chat_time, chat_type
 		) values (
 			#{chatNo}, #{chatRoomNo}, #{chatterNo}, #{chatContent}, sysdate, #{chatType}
 		)
 	</insert>
 	
 	<!-- 채팅방별 채팅 이력 -->
 	<select id="list" parameterType="int" resultType="ChatContentDto">
 		select * from chat_content where chatroom_no = #{chatRoomNo} order by chat_no
 	</select>
 	
 	<select id="content" parameterType="int" resultType="ChatContentVO">
 		select C.*, M.member_nick from chat_content C 
 			inner join member M on C.chatter_no = M.member_no
 		where chatroom_no = #{chatRoomNo} order by chat_no desc
 	</select>
 	
 	<!-- 채팅 메세지 읽음 처리 -->
	<update id="read" parameterType="Map">
		update chat_content set chat_read_time = sysdate
		where chatroom_no = #{chatRoomNo} and chatter_no != #{chatterNo}
	</update> 	
 	
 </mapper>