<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="photo">
	
	<select id="sequence" resultType="int">
		select photo_seq.nextval from dual
	</select>
	
	<insert id="insert" parameterType="PhotoDto">
		insert into photo(
			photo_no, photo_auction_no, photo_attachment_no
		)
		values(
			#{photoNo}, #{photoAuctionNo}, #{photoAttachmentNo}
		)
	</insert>
	
	<select id="list" resultType="PhotoDto" parameterType="int">
		select * from photo where photo_auction_no = #{photoAuctionNo}
	</select>	
		
</mapper> 