<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="successful_bid">
	
	<!-- 시퀸스 생성 -->
	<select id="sequence" resultType="int">
		select successful_bid_seq.nextval from dual
	</select>
	
	<!-- 낙찰 -->	
	<insert id="insert" parameterType="SuccessfulBidDto">
		insert into successful_bid(
			succ_bid_no, auction_no, succ_bidder_no, succ_final_bid, succ_auction_count
		)
		values(
			#{succBidNo}, #{auctionNo}, #{succBidderNo}, #{succFinalBid}, #{succAuctionCount}
		)
	</insert>

</mapper> 