<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="successful_bid">
	
	<!-- 시퀸스 생성 -->
	<select id="sequence" resultType="int">
		select successful_bid_seq.nextval from dual
	</select>
	
	<!-- 낙찰 -->	
	<insert id="insert" parameterType="SuccessfulBidDto">
		insert into successful_bid(
			succ_bid_no, auction_no, succ_bidder_no, succ_final_bid, succ_auction_count
		)
		values(
			#{succBidNo}, #{auctionNo}, #{succBidderNo}, #{succFinalBid}, #{succAuctionCount}
		)
	</insert>
	
	<!-- 해당 월 총 낙찰액 -->
	<select id="monthlyTotalSuccBid" resultType="int">
		select sum(succ_final_bid) "succ_final_bid" from successful_bid where succ_bid_status = 1 and to_char(succ_date, 'MM') = (select to_char(sysdate,'MM')-1 from DUAL)
	</select>
	
	<!-- 거래 완료 및 평가 여부 확인 -->
	<select id="checkRating" parameterType="int" resultType="CheckRatingVO">
		select A.auction_no, A.succ_auctioneer_approve, A.succ_bidder_approve, B.rating_no from successful_bid A
		left join member_rating B on A.auction_no = B.auction_no
		where A.auction_no = #{auctionNo}
	</select>
	
	<!-- 판매자 거래 완료 -->
	<update id="auctioneerApprove" parameterType="int">
		update successful_bid set succ_auctioneer_approve = sysdate where auction_no = #{auctionNo}
	</update>
	
	<!-- 구매자 거래 완료 -->
	<update id="bidderApprove" parameterType="int">
		update successful_bid set succ_bidder_approve = sysdate where auction_no = #{auctionNo}
	</update>
	
	<!-- 낙찰 7일 후 자동 판매자 거래완료 처리 -->
	<update id="autoApprove">
		update successful_bid set succ_bidder_approve = sysdate where trunc(sysdate) - trunc(succ_date) >= 7
	</update>
	
	<!-- 마이페이지 낙찰성공한 총 개수 출력 -->
	<select id="countSuccbidbyMemberNo" parameterType="int" resultType="int">
		select count(*) from successful_bid where succ_bidder_no = #{memberNo}
	</select>	
</mapper> 